div.page {
  height: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  overflow: hidden;
}

main.content {
  display: grid;
  grid-template-columns: 720px auto;
  grid-template-rows: 1fr;
  /* grid-column-gap: var(--spacing-medium); */
  grid-row-gap: 0px;
  /* padding: var(--spacing-medium); */
  flex: 1;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

div.leading {
  grid-area: 1 / 1 / 2 / 2;
  border-top: 1px solid var(--gray-4);
  border-right: 1px solid var(--gray-4);
  border-bottom: 0;
  border-left: 1px solid var(--gray-4);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  min-height: 0;
  overflow: hidden;
  /* padding: var(--spacing-medium); */
}

.trailing {
  grid-area: 1 / 2 / 2 / 3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  height: 100%;
  min-height: 0;

  /* border: 1px solid blue; */
}

section.todoNotesContainer {
  /* padding: var(--spacing-small); */

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(2, auto); */
  grid-template-rows: max-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.titleContainer {
  grid-area: 1 / 1 / 2 / 2;
  padding: var(--spacing-small) 0 var(--spacing-small) var(--spacing-large);
  border-top: 1px solid var(--gray-4);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 1px solid var(--gray-4);
  height: 56px;
}
.contentContainer {
  grid-area: 2 / 1 / 3 / 2;

  border-top: 1px solid var(--gray-4);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 1px solid var(--gray-4);
}
