main.page {
  padding: var(--spacing-extra-large)
    clamp(
      var(--spacing-large),
      var(--spacing-extra-large),
      var(--spacing-extra-extra-large)
    )
    0;
  color: var(--gray-8);
}

div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large);
  min-height: 80vh;
  /* width: 100%; */
}

div.hero > div:first-of-type {
  text-align: center;
}

div.illustration {
  position: relative;
  border-radius: 2px;
  padding: clamp(
    var(--spacing-medium),
    var(--spacing-large),
    var(--spacing-extra-large)
  );
  overflow: hidden;
  width: 100%;
}

/* Background layer */
div.illustration::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url(../assets/images/loginBackgroundFlare.png);
  background-size: cover;
  background-position: center;

  /* Black & white */
  filter: hue-rotate(360deg);

  animation: hueSwing 45s ease-in-out infinite;

  z-index: 0;
}

/* Ensure content sits above */
div.illustration > * {
  position: relative;
  z-index: 1;
}

@keyframes hueSwing {
  0% {
    filter: grayscale(95%) hue-rotate(360deg);
  }
  50% {
    filter: grayscale(85%) hue-rotate(90deg);
  }
  100% {
    filter: grayscale(95%) hue-rotate(360deg);
  }
}
