main.loginPage {
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-medium);
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

div.illustration {
  background-image: url(../assets/images/loginBackgroundFlare.png);

  background-size: cover;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 8px;
  animation: hueSwing 45s ease-in-out infinite;
}

@keyframes hueSwing {
  0% {
    filter: grayscale(95%) hue-rotate(360deg);
  }
  50% {
    filter: grayscale(85%) hue-rotate(90deg);
  }
  100% {
    filter: grayscale(95%) hue-rotate(360deg);
  }
}

div.content {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

div.logoContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: var(--spacing-small);
}
