:root {
  /* Sizes */
  --extra-small: 4px;
  --small: 8px;
  --medium: 16px;
  --large: 32px;
  --extra-large: 64px;
  --extra-extra-large: 128px;
  --extra-extra-extra-large: 256px;

  /* Colors */
  --brand-blue: #0078ff;
  --text: #0a0a0a;

  /* --background-light: #fbfbfb; */
  --background-light: #f9f9fb;
  --background-dark: #000000;

  --gray-1-base: #f2f2f2;
  --gray-2-base: #ebebeb;
  --gray-3-base: #e6e6e6;
  --gray-4-base: #eaeaea;
  --gray-5-base: #c9c9c9;
  --gray-6-base: #a8a8a8;
  --gray-7-base: #8f8f8f;
  --gray-8-base: #7d7d7d;
  --gray-9-base: #666666;
  --gray-10-base: #171717;

  --blue-1-base: #e5efff;
  --blue-2-base: #c1dafc;
  --blue-3-base: #9cc3fb;
  --blue-4-base: #77acf9;
  --blue-5-base: #5294f6;
  --blue-6-base: #3283f4;
  --blue-7-base: #0078ff;
  --blue-8-base: #0d62ce;
  --blue-9-base: #0e4fa3;
  --blue-10-base: #142540;

  --green-1-base: #edfec9;
  --green-2-base: #daf99e;
  --green-3-base: #bef464;
  --green-4-base: #a2e732;
  --green-5-base: #85cc23;
  --green-6-base: #63a501;
  --green-7-base: #4c7b10;
  --green-8-base: #3e6114;
  --green-9-base: #365511;
  --green-10-base: #182e03;

  --red-1-base: #ffe8e6;
  --red-2-base: #f9cac5;
  --red-3-base: #f6aba3;
  --red-4-base: #f08a82;
  --red-5-base: #e66761;
  --red-6-base: #df4b49;
  --red-7-base: #e52934;
  --red-8-base: #ba262c;
  --red-9-base: #952325;
  --red-10-base: #3c1a18;

  --orange-1-base: #feebd1;
  --orange-2-base: #fcd7ac;
  --orange-3-base: #ffba72;
  --orange-4-base: #fc933b;
  --orange-5-base: #f97002;
  --orange-6-base: #ea5c19;
  --orange-7-base: #bf4113;
  --orange-8-base: #983516;
  --orange-9-base: #7e2b11;
  --orange-10-base: #461407;

  /* Typography */
  --f0: 4rem; /* 64 */
  --f15: 2.5rem; /* 32 */
  --f1: 2rem; /* 32 */
  --f2: 1.5rem; /* 24 */
  --f3: 1.25rem; /* 20 */
  --f4: 1rem; /* 16 */
  --f5: 0.875rem; /* 14 */
  --f6: 0.75rem; /* 12 */

  /* Spacing */
  --spacing-none: 0rem;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  --radius-md: 12px;
}

/* optional theming */
@media (prefers-color-scheme: light) {
  :root {
    --gray-1: var(--gray-1-base);
    --gray-2: var(--gray-2-base);
    --gray-3: var(--gray-3-base);
    --gray-4: var(--gray-4-base);
    --gray-5: var(--gray-5-base);
    --gray-6: var(--gray-6-base);
    --gray-7: var(--gray-7-base);
    --gray-8: var(--gray-8-base);
    --gray-9: var(--gray-9-base);
    --gray-10: var(--gray-10-base);

    --blue-1: var(--blue-1-base);
    --blue-2: var(--blue-2-base);
    --blue-3: var(--blue-3-base);
    --blue-4: var(--blue-4-base);
    --blue-5: var(--blue-5-base);
    --blue-6: var(--blue-6-base);
    --blue-7: var(--blue-7-base);
    --blue-8: var(--blue-8-base);
    --blue-9: var(--blue-9-base);
    --blue-10: var(--blue-10-base);

    --green-1: var(--green-1-base);
    --green-2: var(--green-2-base);
    --green-3: var(--green-3-base);
    --green-4: var(--green-4-base);
    --green-5: var(--green-5-base);
    --green-6: var(--green-6-base);
    --green-7: var(--green-7-base);
    --green-8: var(--green-8-base);
    --green-9: var(--green-9-base);
    --green-10: var(--green-10-base);

    --red-1: var(--red-1-base);
    --red-2: var(--red-2-base);
    --red-3: var(--red-3-base);
    --red-4: var(--red-4-base);
    --red-5: var(--red-5-base);
    --red-6: var(--red-6-base);
    --red-7: var(--red-7-base);
    --red-8: var(--red-8-base);
    --red-9: var(--red-9-base);
    --red-10: var(--red-10-base);

    --orange-1: var(--orange-1-base);
    --orange-2: var(--orange-2-base);
    --orange-3: var(--orange-3-base);
    --orange-4: var(--orange-4-base);
    --orange-5: var(--orange-5-base);
    --orange-6: var(--orange-6-base);
    --orange-7: var(--orange-7-base);
    --orange-8: var(--orange-8-base);
    --orange-9: var(--orange-9-base);
    --orange-10: var(--orange-10-base);

    --background: var(--background-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --gray-1: var(--gray-10-base);
    --gray-2: var(--gray-9-base);
    --gray-3: var(--gray-8-base);
    --gray-4: var(--gray-5-base);
    --gray-5: var(--gray-4-base);
    --gray-6: var(--gray-6-base);
    --gray-7: var(--gray-7-base);
    --gray-8: var(--gray-8-base);
    --gray-9: var(--gray-2-base);
    --gray-10: var(--gray-1-base); */
    /* Vercel */
    /* --gray-1: #191919;
    --gray-2: #1f1f1f;
    --gray-3: #292929;
    --gray-4: #2e2e2e;
    --gray-5: #454545;
    --gray-6: #878787;
    --gray-7: #8f8f8f;
    --gray-8: #7d7d7d;
    --gray-9: #a0a0a0;
    --gray-10: #ededed; */
    /* Radix */
    /* --gray-1: #222222;
    --gray-2: #2a2a2a;
    --gray-3: #313131;
    --gray-4: #3a3a3a;
    --gray-5: #484848;
    --gray-6: #606060;
    --gray-7: #6e6e6e;
    --gray-8: #7b7b7b;
    --gray-9: #b4b4b4;
    --gray-10: #eeeeee; */
    /* Mix */
    --gray-1: #191919;
    --gray-2: #1f1f1f;
    --gray-3: #313131;
    --gray-4: #3a3a3a;
    --gray-5: #484848;
    --gray-6: #606060;
    --gray-7: #6e6e6e;
    --gray-8: #7b7b7b;
    --gray-9: #b4b4b4;
    --gray-10: #eeeeee;

    --blue-1: var(--blue-10-base);
    --blue-2: var(--blue-9-base);
    --blue-3: var(--blue-8-base);
    --blue-4: var(--blue-5-base);
    --blue-5: var(--blue-4-base);
    --blue-6: var(--blue-6-base);
    --blue-7: var(--blue-7-base);
    --blue-8: var(--blue-8-base);
    --blue-9: var(--blue-2-base);
    --blue-10: var(--blue-1-base);

    --green-1: var(--green-10-base);
    --green-2: var(--green-9-base);
    --green-3: var(--green-8-base);
    --green-4: var(--green-5-base);
    --green-5: var(--green-4-base);
    --green-6: var(--green-6-base);
    --green-7: var(--green-7-base);
    --green-8: var(--green-8-base);
    --green-9: var(--green-2-base);
    --green-10: var(--green-1-base);

    --red-1: var(--red-10-base);
    --red-2: var(--red-9-base);
    --red-3: var(--red-8-base);
    --red-4: var(--red-5-base);
    --red-5: var(--red-4-base);
    --red-6: var(--red-6-base);
    --red-7: var(--red-7-base);
    --red-8: var(--red-8-base);
    --red-9: var(--red-2-base);
    --red-10: var(--red-1-base);

    --orange-1: var(--orange-10-base);
    --orange-2: var(--orange-9-base);
    --orange-3: var(--orange-8-base);
    --orange-4: var(--orange-5-base);
    --orange-5: var(--orange-4-base);
    --orange-6: var(--orange-6-base);
    --orange-7: var(--orange-7-base);
    --orange-8: var(--orange-8-base);
    --orange-9: var(--orange-2-base);
    --orange-10: var(--orange-1-base);

    --background: var(--background-dark);
  }
}
