@import "tailwindcss";

@theme {
  --font-sans:
    "Hedvig Letters Sans", sans-serif, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* overscroll-behavior-y: none; */
  /* overscroll-behavior-x: none; */
  background-color: var(--background);

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
