.previewShell {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid var(--gray-4);
  background: #000;
  overflow: hidden;
}

.previewShellHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0.52rem 0.72rem;
  border-bottom: 1px solid var(--gray-4);
  background: #000;
}

.previewShellTitle {
  margin: 0;
  font-size: 0.78rem;
  font-weight: 600;
  color: var(--gray-10);
}

.previewShellTitleStack {
  display: inline-grid;
  align-items: center;
  min-height: 1em;
}

.previewShellTitleText {
  grid-area: 1 / 1;
  display: inline-block;
  will-change: opacity;
}

.previewShellBody {
  min-height: 0;
  display: grid;
}

.previewShellBodyScene {
  grid-area: 1 / 1;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: grid;
  /* padding: var(--spacing-small); */
}
