hr.tidyHR {
  border: 0;
  height: 2px;
  background-image:
    /* linear-gradient(to right, transparent, #000000 10% 90%, transparent),
    linear-gradient(to right, transparent, #313131 10% 90%, transparent); */
    linear-gradient(to right, transparent, #666666 10% 90%, transparent),
    linear-gradient(to right, transparent, #171717 10% 90%, transparent);
  background-size: 100% 1px;
  background-position:
    0% 0%,
    0% 100%;
  background-repeat: no-repeat;
}

hr.marginLarge {
  margin: 64px 0;
}

hr.marginSmall {
  margin: 16px 0;
  /* margin: 0px; */
}

hr.vertical {
  border: 0;
  width: 4px;
  height: 100%;
  background-image: linear-gradient(to right, #000000 0% 80%, #313131 80% 100%);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  margin: 0;
}
