span.trigger {
  font-size: var(--f5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* color: var(--gray-10); */

  padding: var(--spacing-extra-small) var(--spacing-small);
  gap: var(--spacing-small);
  border-radius: 6px;

  @media (prefers-color-scheme: light) {
    background: #ffffff;
    border: 1px solid rgba(60, 65, 70, 0.07);
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.1),
      inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    background:
      linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.16) 0%,
        rgba(10, 10, 10, 0) 53.65%
      ),
      #2f3132;
    border: 0.4px solid rgba(10, 10, 10, 0.16);
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.9),
      0px 1px 1px rgba(23, 23, 23, 0.2),
      0px 2px 4px rgba(23, 23, 23, 0.1),
      0px 3px 8px rgba(23, 23, 23, 0.04),
      inset 0px 1px 2px rgba(253, 253, 253, 0.24);
  }
}

/* .trigger > button {
  cursor: pointer;
} */

.Popup {
  box-sizing: border-box;
  /* padding: 1rem 1.5rem; */
  border-radius: 0.5rem;
  background-color: canvas;
  border: 1px solid var(--gray-2);
  /* transform-origin: var(--transform-origin); */
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    /* outline: 1px solid var(--color-gray-200); */
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    /* outline: 1px solid var(--color-gray-300); */
    outline-offset: -1px;
  }
}

.Arrow {
  display: flex;

  &[data-side="top"] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side="bottom"] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side="left"] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side="right"] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: canvas;
}

.ArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: black;
  }
}

.ArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: white;
  }
}
