.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-extra-small) var(--spacing-small);
  width: fit-content;
  /* padding: 2px 8px; */
  border-radius: 2px;
  font-size: var(--f5);
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}

.icon {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.primary {
  color: var(--orange-10);
  background-color: var(--orange-1);
  border: 1px solid var(--orange-4);
}

.secondary {
  color: var(--gray-9);
  background-color: var(--gray-1);
  border: 1px dotted var(--gray-4);
}
