.gsiMaterialButton {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: black;
  background-image: none;
  border: 1px solid var(--gray-4);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--gray-10);
  cursor: pointer;
  font-family: "Hedvig Letters Sans", arial, sans-serif;
  font-size: var(--f5);
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: var(--spacing-small) var(--spacing-medium);
  position: relative;
  text-align: center;
  -webkit-transition:
    background-color 0.218s,
    border-color 0.218s,
    box-shadow 0.218s;
  transition:
    background-color 0.218s,
    border-color 0.218s,
    box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsiMaterialButton .gsiMaterialButtonIcon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsiMaterialButton .gsiMaterialButtonContentWrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsiMaterialButton .gsiMaterialButtonContents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsiMaterialButton .gsiMaterialButtonState {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsiMaterialButton:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsiMaterialButton:disabled .gsiMaterialButtonContents {
  opacity: 38%;
}

.gsiMaterialButton:disabled .gsiMaterialButtonIcon {
  opacity: 38%;
}

.gsiMaterialButton:not(:disabled):active .gsiMaterialButtonState,
.gsiMaterialButton:not(:disabled):focus .gsiMaterialButtonState {
  background-color: #303030;
  opacity: 12%;
}

.gsiMaterialButton:not(:disabled):hover {
  /* -webkit-box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15); */
  background-color: var(--gray-1);
  border-color: var(--gray-7);
}

.gsiMaterialButton:not(:disabled):hover .gsiMaterialButtonState {
  background-color: #303030;
  opacity: 8%;
}
